<?xml version="1.0" encoding="utf-8"?>
<Configurations>
  <Printer01 Id="1" IP="172.30.208.30" IsShowPrintCount="false" TextModule="02" UseTimerCheckPrintState="true" UseTimerCheckPrintCount="true" CheckPrintStateDelay="5000" CheckPrintCountDelay="500" IsResetPrintCount="true">
  </Printer01>
  <Printer02 Id="2" IP="172.30.208.31" IsShowPrintCount="false" TextModule="02" UseTimerCheckPrintState="true" UseTimerCheckPrintCount="true" CheckPrintStateDelay="5000" CheckPrintCountDelay="500" IsResetPrintCount="true">
  </Printer02>
  <Printer03 Id="3" IP="172.30.208.32" IsShowPrintCount="false" TextModule="02" UseTimerCheckPrintState="true" UseTimerCheckPrintCount="true" CheckPrintStateDelay="5000" CheckPrintCountDelay="500" IsResetPrintCount="true">
  </Printer03>
  <Printer04 Id="4" IP="172.30.208.33" IsShowPrintCount="false" TextModule="02" UseTimerCheckPrintState="true" UseTimerCheckPrintCount="true" CheckPrintStateDelay="5000" CheckPrintCountDelay="500" IsResetPrintCount="true">
  </Printer04>
  <Printer05 Id="5" IP="172.30.208.34" IsShowPrintCount="false" TextModule="02" UseTimerCheckPrintState="true" UseTimerCheckPrintCount="true" CheckPrintStateDelay="5000" CheckPrintCountDelay="500" IsResetPrintCount="true">
  </Printer05>
  <Printer06 Id="6" IP="172.30.208.35" IsShowPrintCount="false" TextModule="02" UseTimerCheckPrintState="true" UseTimerCheckPrintCount="true" CheckPrintStateDelay="5000" CheckPrintCountDelay="500" IsResetPrintCount="true">
  </Printer06>
  <Systems>
    <!-- <Server IP="172.30.204.198" Port="4560" UseAutoMode="false" IsShowData="false"></Server> -->
    <Server IP="127.0.0.1" Port="4560" UseAutoMode="true" IsShowData="false">
    </Server>
  </Systems>
</Configurations>